*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}
body{
  background:linear-gradient(navy, blue);
  scroll-behavior:smooth;
}

/* NAV */
.nav{
  display:flex;
  justify-content:space-between;
  padding:15px 30px;
  background:#001f3f;
  color:white;
  position:fixed;
  width:100%;
  z-index:1000;
  transition:0.3s;
}
.nav.scrolled{
  background:#000;
}
.nav-links a{
  color:white;
  margin:0 10px;
  text-decoration:none;
}
.menu-toggle{
  display:none;
  cursor:pointer;
}

/* HERO */
.hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
  url("images/school1.jpg");
  color:white;
  text-align:center;
}

/* SECTION */
.section{
  padding:90px 20px;
  text-align:center;
}
.light{
  background:#eef2f7;
}

/* CARDS */
.cards{
  display:flex;
  gap:20px;
  justify-content:center;
  flex-wrap:wrap;
}
.card{
  background:white;
  padding:20px;
  width:250px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);transition:0.3s;
}
.card:hover{
  transform:translateY(-5px);
}

/* GALLERY */
.gallery{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:20px;
  margin-top:20px;
}

img{
  max-width:100%;
  display:block;
}

.img-box{
  position:relative;
  overflow:hidden;
  border-radius:12px;
}

.img-box img{
  width:100%;
  height:220px;
  object-fit:cover;
  display:block;
  transition:0.4s;
}

.img-box:hover img{
  transform:scale(1.1);
}


/* OVERLAY TEXT */
.overlay{
  position:absolute;
  bottom:0;
  width:100%;
  background:rgba(0,0,0,0.6);
  color:white;
  text-align:center;
  padding:10px;
  font-size:14px;
}

/* FORM */
form{
  max-width:400px;
  margin:auto;
  display:flex;
  flex-direction:column;
}
form input,textarea{
  margin:10px 0;
  padding:10px;
}

/* WHATSAPP */
.whatsapp{
  position:fixed;
  bottom:20px;
  right:20px;
  background:green;
  color:white;
  padding:15px;
  border-radius:50%;
  text-decoration:none;
  font-size:20px;
}

/* TOP BUTTON */
#topBtn{
  position:fixed;
  bottom:80px;
  right:20px;
  padding:10px;
  display:none;
}

/* MODAL */
.modal{
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.7);
  justify-content:center;
  align-items:center;
}
.modal-box{
  background:white;
  padding:20px;
}

/* FADE */
.fade{
  opacity:0;
  transform:translateY(20px);
  transition:0.5s;
}
.fade.show{
  opacity:1;
  transform:translateY(0);
}

/* MOBILE */
@media(max-width:768px){
  .nav-links{
    display:none;
    flex-direction:column;
    position:absolute;
    right:0;top:60px;
    background:#001f3f;
  }
  .nav-links.active{
    display:flex;
  }
  .menu-toggle{
    display:block;
  }
}
