* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #020617;
  position: sticky;
  top: 0;
}

.logo {
  color: #38bdf8;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(to right, #020617aa, #020617aa),
              url('https://picsum.photos/1200/800');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h2 {
  font-size: 45px;
}

.hero p {
  margin: 20px 0;
  color: #94a3b8;
}

/* BUTTON */
.btn {
  background: #38bdf8;
  padding: 12px 25px;
  border-radius: 25px;
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
}

/* SECTIONS */
.section {
  padding: 90px 20px;
  text-align: center;
}

.dark {
  background: #020617;
}

/* GRID */
.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

/* STEPS */
.steps {
  list-style: none;
  margin: 20px 0;
}

.steps li {
  margin: 10px 0;
}

/* GALLERY */
.gallery{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:20px;
  padding:20px;
}

.img-box{
  position:relative;
  overflow:hidden;
  border-radius:12px;
}

.img-box img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.overlay{
  position:absolute;
  bottom:0;
  width:100%;
  background:rgba(0,0,0,0.6);
  color:white;
  text-align:center;
  padding:10px;
}
/* FORM */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

/* MODAL */
.modal{
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.7);
  justify-content:center;
  align-items:center;
}

.modal-box{
  background:white;
  padding:20px;
}

/* WHATSAPP */
.whatsapp{
  position:fixed;
  bottom:20px;
  right:20px;
  background:green;
  color:white;
  padding:15px;
  border-radius:50%;
  text-decoration:none;
}

/* TOP BUTTON */
#topBtn{
  position:fixed;
  bottom:80px;
  right:20px;
  display:none;
}

/* MOBILE */
@media(max-width:768px){
  .nav-links{
    display:none;
    flex-direction:column;
    position:absolute;
    right:0;
    top:60px;
    background:#001f3f;
  }

  .nav-links.active{
    display:flex;
  }

  .menu-toggle{
    display:block;
  }
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  background: #020617;
}
